\SI
/SI
*.si4project
*.IAB
*.IAD
*.IMB
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.o
*.d
*.prefs
*.SearchResults
*.elf
*.lst
*/source_file.mk
*.map
/build_temp/
language.settings.xml
*.mp3
asr.bin
dnn.bin
user_code.bin
*.xls.bin
*.xlsx.bin
user_file.bin
projects/*/firmware/*.bin
\[0\]code.bin

/.metadata/
projects/*/firmware/config.ini
projects/*/firmware/voice/voice.bin
projects/*/project_file/build

